main{
  width: 300px;
  margin: auto;
}

img{
  vertical-align: bottom;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  border: 1px solid #ddd
}

#play{
  width: 140px;
}

#prev,#next{
  width: 60px;
}
#main{
  width :300px;
  height: 200px;
}

.thumbnails img{
  width: 56px;
}